* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

a, a:visited, a:active {
    color: inherit;
}





.song__title, .song__year, .song__artist {
    display: block;
}


.carousel__scene {
   margin: auto;
    width: 510px;
    height: 250px;
    max-width: 95vw;
    border: 0px solid red;
    perspective: 100px;
    /*overflow: hidden;*/
    
}

.carousel__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    right: 405px;
    border: 0px solid green;
    top:160px;
}

.previous-button, .next-button {
    margin: 5px 0;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-family: monospace;
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid rgb(207, 232, 70);
    border-radius: 10px;
    background-color: #444;
    margin-left: 5px;
}

.previous-button:focus, .next-button:focus {
    outline: none;
    box-shadow: 0 0 6px 3px rgb(207, 232, 70);
}

.carousel__list {
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
    list-style: none;
    counter-reset: list-counter;
}

.carousel__cell {
    position: absolute;
    width: 490px;
    height: 140px;
    max-width: calc(95vw - 20px);
    left: 10px;
    top: 10px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: transform 1s, opacity 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    counter-increment: list-counter;
    background-color: rgba(128, 128, 128, 0.75);
    /*filter: blur(2px);*/
}


.carousel__cell.selected {
    color: rgb(207, 232, 70);
    border-color: rgb(207, 232, 70);
    border-width: 5px;
    /*filter: none;*/
}

.carousel__cell.selected::before {
    color: rgb(207, 232, 70);
}

.carousel__cell:nth-child(1) { transform: rotateX(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateX( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateX( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateX(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateX(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateX(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateX(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateX(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateX(320deg) translateZ(288px); }
